* {
  font-family: "Roboto", sans-serif;
}

body {
  background: url("./images/imageedit_2_7534988625.png") 100% 100%;
  background-size: cover;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin: 50px 30px 0 30px;
  color: #5e1d30;
}

h1 + p {
  text-align: center;
  margin: 40px 30px 0 30px;
}

.translator {
  margin: 60px 30px 30px 30px;
  background-color: white;
  padding: 30px;
}

textarea {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #dbd6d6;
}

.output {
  font-weight: bold;
  margin: 30px 0 30px 0;
}

#result {
  height: 80px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #dbd6d6;
}

.button {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 10px;
  width: 150px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 4px 8px #193047;
  border-radius: 4px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}
