$tablet: 920px;

* {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #fcf5f8;
    background-size: cover;
    margin-bottom: 30px;
}
h1 {
    text-align: center;
    margin: 50px 30px 0 30px;
    color: #5e1d30;
}
h1 + p {
    text-align: center;
    margin: 40px 30px 0 30px;
}
.translator {
    margin: 60px 30px 30px 30px;
    background-color: white;
    padding: 30px;
}
textarea {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #dbd6d6;
}
.output {
    font-weight: bold;
    margin: 30px 0 30px 0;
}
#result {
    height: 80px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #dbd6d6;
}
.button {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    color: #fff;
    padding: 8px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 2px 4px #193047;
    border-radius: 4px;

    &__green {
        background-color: #1bc9f5;
        color: #fff;
    }
    &__white {
        color: black;
        background-color: white;
    }
}

.button:hover {
    background: #fff;
    box-shadow: 0px 2px 4px 2px #1bc9f5;
    color: #000;
}

@mixin tablet {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    @include tablet {
        width: 90%;
    }
}
